:root {

  --primary: #6D6AFE;
  --red: #FF5B56;
  --black: #111322;
  --white: #ffffff;
  --gray100: #3E3E43;
  --gray60: #9FA6B2;
  --gray20: #CCD5E3;
  --gray10: #E7EFFB;
  --bg: #F0F6FF;

}



.main-page {
  display: flex;
  width: 1440px;
  padding: 238px 0px 252px 0px;
  justify-content: center;
  align-items: center;
  background: var(--Linkbrary-bg, #F0F6FF);
}

.login-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.logo-frame {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.signup-frame {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 8px;
}

#asking-signup {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
}


#signup-link {
  color: var(--Linkbrary-primary-color, #6D6AFE);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.your-login-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}

.email-and-password-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
}

#email {
  color: var(--black, #000);
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.sub-frame {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: flex-start;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);
}

.sub-frame:focus-within, .sub-frame-password:focus-within {
  border: 1px solid blue;
  outline: none;
}


.sub-frame-password {
  display: flex;
  width: 400px;
  padding: 18px 15px;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-white, #FFF);

}

#input-email {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: none;
  color: var(--Linkbrary-gray100, #373740);
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 150% */
  flex-grow: 1;
  
}

.space {
  flex-grow: 1;
}


.login-button {
  width: 100%
}

.social-login {
  display: flex;
  width: 400px;
  padding: 12px 24px;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--Linkbrary-gray20, #CCD5E3);
  background: var(--Linkbrary-gray10, #E7EFFB);
}

.social-logos {
  display: flex;
  align-items: flex-start;
  gap: 16px;
}